

.comparacao img {
	cursor: pointer;
    -webkit-box-reflect:
        below 1px -webkit-gradient(linear, left top, left bottom, from(transparent),
            color-stop(50%, transparent), to(rgba(255, 255, 255, 0.2)));

}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.title {
    font-weight: bold;
    color: #59A2DB;
}
